## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [1]:
lista1=['peru','alemania','brazil','argnetina','venezuela']
print(lista1)

['peru', 'alemania', 'brazil', 'argnetina', 'venezuela']

2) Imprimir por pantalla el segundo elemento de la lista

In [2]:
print(lista1[1])

alemania

3) Imprimir por pantalla del segundo al cuarto elemento

In [3]:
print(lista1[1:3])

['alemania', 'brazil']

4) Visualizar el tipo de dato de la lista

In [4]:
print(type(lista1))

<class 'list'>

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [5]:
print(lista1[2:])

['brazil', 'argnetina', 'venezuela']

6) Visualizar los primeros 4 elementos de la lista

In [7]:
print(lista1[:4])

['peru', 'alemania', 'brazil', 'argnetina']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [8]:
lista1.append('peru')

In [15]:
lista1.append('rusia')
print(lista1)

['peru', 'alemania', 'brazil', 'argnetina', 'venezuela', 'peru', 'rusia']

8) Agregar otra ciudad, pero en la cuarta posición

In [16]:
lista1.insert(3,'ucrania')

['peru',
 'alemania',
 'brazil',
 'ucrania',
 'argnetina',
 'venezuela',
 'peru',
 'rusia']

9) Concatenar otra lista a la ya creada

In [17]:
lista1.extend(['inglaterra','mexico'])

In [18]:
lista1

['peru',
 'alemania',
 'brazil',
 'ucrania',
 'argnetina',
 'venezuela',
 'peru',
 'rusia',
 'inglaterra',
 'mexico']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [22]:
print(lista1[6])

peru

11) ¿Qué pasa si se busca un elemento que no existe?

In [29]:
lista1.index('ecuador')
#te dara el siguiente error

ValueError: 'ecuador' is not in list

12) Eliminar un elemento de la lista

In [31]:
lista1
lista1.remove('venezuela')

13) ¿Qué pasa si el elemento a eliminar no existe?

In [32]:
lista1.remove('venezuela')
#te mostraria el siguinete error

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [37]:
elem=lista1[-1:]
print(elem)

['mexico']

15) Mostrar la lista multiplicada por 4

In [39]:
print(lista1*4)

['peru', 'alemania', 'brazil', 'ucrania', 'argnetina', 'peru', 'rusia', 'inglaterra', 'mexico', 'peru', 'alemania', 'brazil', 'ucrania', 'argnetina', 'peru', 'rusia', 'inglaterra', 'mexico', 'peru', 'alemania', 'brazil', 'ucrania', 'argnetina', 'peru', 'rusia', 'inglaterra', 'mexico', 'peru', 'alemania', 'brazil', 'ucrania', 'argnetina', 'peru', 'rusia', 'inglaterra', 'mexico']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [40]:
tupla=(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [41]:
tupla[10:15]

(11, 12, 13, 14, 15)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [42]:
tupla.index(20)

19

In [43]:
tupla.index(30)

ValueError: tuple.index(x): x not in tuple

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [44]:
lista1.index('paris')

ValueError: 'paris' is not in list

In [45]:
lista1.append('paris')

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [47]:
tupla.count(10)

1

21) Convertir la tupla en una lista

In [48]:
mi_lista=list(tupla)

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [58]:
tupla
a, b, c = tupla[:3]
print(a, b, c)

1 2 3

23) Crear un diccionario utilizando la lista creada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [59]:
lista1

['peru',
 'alemania',
 'brazil',
 'ucrania',
 'argnetina',
 'peru',
 'rusia',
 'inglaterra',
 'mexico',
 'paris']

In [61]:
dic={'Ciudades':[],
     'pais':[],
     'continente':[]}

In [62]:
dic['Ciudades'].append(lista1)

In [63]:
dic

{'Ciudades': [['peru',
   'alemania',
   'brazil',
   'ucrania',
   'argnetina',
   'peru',
   'rusia',
   'inglaterra',
   'mexico',
   'paris']],
 'pais': [],
 'continente': []}

24) Imprimir las claves del diccionario

In [65]:
dic.keys()

dict_keys(['Ciudades', 'pais', 'continente'])

25) Imprimir las ciudades a través de su clave

In [69]:
print(dic['Ciudades'])

[['peru', 'alemania', 'brazil', 'ucrania', 'argnetina', 'peru', 'rusia', 'inglaterra', 'mexico', 'paris']]