## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
var1 = 1,2,3
print(var1)

(1, 2, 3)

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
dato2=8.5
print(type(dato2))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(var1))

<class 'tuple'>

4) Crear una variable que contenga tu nombre

In [6]:
var_name='Emerson'

5) Crear una variable que contenga un número complejo

In [15]:
var5=3j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [16]:
print(type(var5))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [8]:
pi=3,1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [9]:
var81='true'
var82=True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [10]:
print(var81,var82)

true True

10) Asignar a una variable, la suma de un número entero y otro decimal

In [11]:
var10=5+2.5

11) Realizar una operación de suma de números complejos

In [21]:
3j+2j

5j

12) Realizar una operación de suma de un número real y otro complejo

In [19]:
10+2j

(10+2j)

13) Realizar una operación de multiplicación

In [17]:
2*3

6

14) Mostrar el resultado de elevar 2 a la octava potencia

In [22]:
2**8

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [23]:
var15=27/4
print(var15)

6.75

16) De la división anterior solamente mostrar la parte entera

In [28]:
var16=27//4
print(var16)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [27]:
var17=27%4
print(var15)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [29]:
var16*4+var17

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [30]:
var191='Av.jose'
var192='N°910'
res19=(var192+var191)

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [32]:
2=='2'
#esto ocurre porque uno es un valor entero y el otro es un caracter

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [33]:
2 == int('2')

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [ ]:
# es porque python utliza el '.' como spearador decimal

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [35]:
var23=3
var23-=1
print(var23)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [39]:
1<<2
#El sistema binario es un sistema de numeración que utiliza dos dígitos: 0 (cero) y 1 (uno).

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [40]:
2+'2'
#En este caso no es posible sumar un valor entero con un valor alfanumérico.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [46]:
str='hola mundo '
var26=2
print(str * var26)

hola mundo hola mundo